/* https://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome */
/* https://www.rapidtables.com/web/color/Gold_Color.html */
/* https://www.rapidtables.com/web/color/silver-color.html */
/* https://rgbcolorcode.com/color/bronze */
/* https://stackoverflow.com/questions/7220193/applying-css-style-to-table-cell-when-hovered-over */

body {
	background-color:#000000;
	color: #FFFFFF;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

#container {
	text-align: center;
}

#mapInput {
	width: 300px;
}

#clearButton {
	color: #FF0000;
}

#mapInfoTable {
	width: 100%;
}

#mapInfoTable, td, th {
	border: 1px solid gray;
}

#position, /*#country,*/ #name, #time, #difference, #date {
	color: #FBF6D9;
}

#firstPos, #secondPos, #thirdPos, #fourthPos, #fifthPos, #sixthPos, #seventhPos, #eighthPos, #ninthPos, #tenthPos {
	width: 50px;
	text-align: center;
	color: #FFFFFF;
}

/*#firstCountry, #secondCountry, #thirdCountry, #fourthCountry, #fifthCountry, #sixthCountry, #seventhCountry, #eighthCountry, #ninthCountry, #tenthCountry {
	width: 50px;
	text-align: center;
	color: #FFFFFF;
}*/

#firstName, #secondName, #thirdName, #fourthName, #fifthName, #sixthName, #seventhName, #eighthName, #ninthName, #tenthName {
	width: 200px;
	text-align: left;
	color: #FFFFFF;
}

#firstTime, #secondTime, #thirdTime, #fourthTime, #fifthTime, #sixthTime, #seventhTime, #eighthTime, #ninthTime, #tenthTime {
	width: 100px;
	text-align: center;
	color: #FFFFFF;
}

#firstDiff, #secondDiff, #thirdDiff, #fourthDiff, #fifthDiff, #sixthDiff, #seventhDiff, #eighthDiff, #ninthDiff, #tenthDiff {
	width: 100px;
	text-align: center;
	color: #FFFFFF;
}

#firstDate, #secondDate, #thirdDate, #fourthDate, #fifthDate, #sixthDate, #seventhDate, #eighthDate, #ninthDate, #tenthDate {
	width: 100px;
	text-align: center;
	color: #FFFFFF;
}

table.hover tr:hover {
	background-color: rgba(211, 211, 211, 0.3);
}

#firstPos, /*#firstCountry,*/ #firstName, #firstTime, #firstDiff, #firstDate {
	color: #FFD700;
}

#secondPos, /*#secondCountry,*/ #secondName, #secondTime, #secondDiff, #secondDate {
	color: #C0C0C0;
}

#thirdPos, /*#thirdCountry,*/ #thirdName, #thirdTime, #thirdDiff, #thirdDate {
	color: #CD7F32;
}