<settings>
    <setting name="*freeroam.welcometextonstart" value='[&quot;false&quot;]'></setting>
    <setting name="*freeroam.spawnmaponstart" value='[&quot;false&quot;]'></setting>
    <setting name="*freeroam.spawnmapondeath" value='[&quot;false&quot;]'></setting>
    <setting name="admin.ip2cUpdateTime" value="[1606158476]"></setting>
    <setting name="*race.joinspectating" value='[&quot;false&quot;]'></setting>
    <setting name="*race.timeafterfirstfinish" value='[&quot;300&quot;]'></setting>
    <setting name="*race.addons" value='[&quot;race_toptimes,mapratings,race_traffic_sensor&quot;]'></setting>
    <setting name="*race.respawntime" value='[&quot;1&quot;]'></setting>
    <setting name="*race.joinrandomvote" value='[&quot;false&quot;]'></setting>
    <setting name="*race.ghostmode_warning_if_map_override" value='[&quot;false&quot;]'></setting>
    <setting name="*race.vehicleweapons_warning_if_map_override" value='[&quot;false&quot;]'></setting>
    <setting name="*race.autopimp" value='[&quot;false&quot;]'></setting>
    <setting name="*race.ghostalpha" value='[&quot;true&quot;]'></setting>
    <setting name="*votemanager.votemap_locktime" value="[0]"></setting>
</settings>
