mods/deathmatch/internal.db
mods/deathmatch/resource-cache/*
mods/deathmatch/logs/*
mods/deathmatch/databases/*
mods/deathmatch/backups/*
mods/**/\[editor autobuilds\]/*
mods/**/admin/conf/IpToCountryCompact.csv
mods/**/race_ghost/ghosts/*
dumps/*