mods/deathmatch/internal.db
mods/deathmatch/resource-cache/*
mods/deathmatch/logs/*
mods/deathmatch/databases/*
mods/deathmatch/backups/*
mods/deathmatch/resources/\[editor autobuilds\]/*
mods/deathmatch/resources/\[modified resources\]/admin/conf/IpToCountryCompact.csv
mods/deathmatch/resources/\[default resources\]/\[gamemodes\]/\[race\]/\[addons\]/race_ghost/ghostsa/*
dumps/*